html,
body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  background-color: #eee;
}

#button-box1{
  width:200px;
  margin-bottom:10px;
}

.button1{
  margin-right:auto;
  margin-left: auto;
  background-color: rgba(255,255,255,0.5);
  color: rgba(29,161,242,255);
  border: 1px solid rgba(29,161,242,255);
  border-radius: 5px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width:100px;
  height:50px;
  font-size:20px;
}

.button1:hover{
  background-color: rgba(29,161,242,255);
  color: white;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}